body {
  background: lightgray;
}

button {
  background-color: #3E4142;
  color: #4A7D8A;
  height: 50px;
  width: 200px;
  border-radius: 8px;
  font-size: 16px;
}

h1 {
  font-size: 55px;
  color: #4A7D8A;
  text-align: center;
}

.header {
  border: 2px solid #363C42;
  border-radius: 8px;
  background: #363C42;
}

#subheader {
  border: 2px solid ##EFF1E4;
  border-radius: 8px;
  background: lightgray;
  font-family: monospace;
}

.info {
  /* margin-left: 35px; */
  /* text-align: justify; */
  /* margin-left: 30px;
  margin-right: 30px; */
  border: 2px solid #363C42;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}

p {
  text-align: center;
  font-size: 24px;
  color: #581845
}



#css {
  display: none;
  float: cent
}

#java {
  display: none;
}

#php {
  display: none;
}

#moreResearch {
  display: none;
}
