body {
  background: gray;
  background-image: url(../img/code.jpg);
  background-size: cover;
  background-repeat: repeat;
}

button {
  background-color: #3E4142;
  color: #4A7D8A;
  height: 75px;
  width: 250px;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

h1 {
  font-size: 60px;
  color: #4A7D8A;
  font-weight: lighter;
}

p {
  text-align: center;
  font-size: 30px;
  color: #581845;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 30px;
  align: center;
  font-weight: lighter;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  border: 2px solid #363C42;
  border-radius: 8px;
  background: #363C42;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
  opacity: .9;
}

#subheader {
  border: 5px solid lightgray;
  border-radius: 8px;
  background: lightgray;
  padding: 20px 40px 20px 40px;
  font-weight: lighter;
  opacity: .8;
}

.info {
  border: 2px solid #363C42;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background: lightgray;
  opacity: .8;
}

.radio {
  font-size: 16px;
}

#css {
  display: none;
  /* border: 2px solid #581845; */
  border: 2px solid #3E4142;
  border-radius: 8px;
  background: #BAB760;
  margin: 15px 40px 10px 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .9;
}

#java {
  display: none;
  border: 2px solid #3E4142;
  border-radius: 8px;
  background: #D3F3A6;
  margin: 15px 40px 10px 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .9;
}

#php {
  display: none;
  border: 2px solid #3E4142;
  border-radius: 8px;
  background: #BAB760;
  margin: 15px 40px 10px 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .9;
}

#moreResearch {
  display: none;
  border: 2px solid #3E4142;
  border-radius: 8px;
  background: #D3F3A6;
  margin: 15px 40px 10px 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  opacity: .9;
}

#final {
  font-size: 26px;
}
